<div class="form-group">
  <label for="<%- inputName -%>">
    <%- inputLabel -%>
  </label>
  <input type="<%- inputType -%>"
         class="form-control"
         id="<%- inputName -%>"
         name="<%- inputName -%>"
         placeholder="<%- placeHolder -%>">
  
  <% if (typeof inputHelpText !== 'undefined') { %>
  <small id="<%- inputName -%>Help" class="form-text text-muted">
    <% inputHelpText %>
  </small>
  <% } %>
</div>
