<%- contentFor('main') %>
<div class="center">

  <% if (typeof isEmpty !== "undefined") { %>
    <%-
    include('partials/alert', {
      alertType: 'danger',
      alertMessage: 'Please fill in all fields.'
    })
    -%>
  <% } %>

  <form action="login" method="post" role="form" id="login_form">

    <%-
    include('partials/form-group', {
      inputName: 'username',
      inputLabel: 'Username',
      inputType: 'text',
      placeHolder: 'Enter Username'
    });
    -%>

    <%-
    include('partials/form-group', {
      inputName: 'password',
      inputLabel: 'Password',
      inputType: 'password',
      placeHolder: 'Enter Password'
    });
    -%>

    <%-
    include('partials/button', {
      type: 'submit',
      className: 'btn btn-primary',
      label: 'Submit'
    });
    -%>

  </form>

</div>

<%- contentFor('scripts') %>
<script>
</script>
