<%- contentFor('main') %>
<div class="center">

  <% if (typeof message !== 'undefined') { %>
    <%-
    include('partials/alert', {
      alertType: 'danger',
      alertMessage: message
    })
    %>
  <% } %>

  <form action="signup" method="post" role="form" id="signup_form">

    <%-
    include('partials/form-group', {
      inputName: 'email',
      inputLabel: 'Email',
      inputType: 'text',
      placeHolder: 'Enter Email',
      inputHelpText: 'Ensure your email has <code>@domain.com</code>'
    });
    -%>

    <%-
    include('partials/form-group', {
      inputName: 'username',
      inputLabel: 'Username',
      inputType: 'text',
      placeHolder: 'Enter Username',
      inputHelpText: 'Your username cannot contain any spaces'
    });
    -%>

    <%-
    include('partials/form-group', {
      inputName: 'password',
      inputLabel: 'Password',
      inputType: 'password',
      placeHolder: 'Enter Password',
      inputHelpText: 'Your password must be at least eight characters long'
    });
    -%>

    <%-
    include('partials/button', {
      type: 'submit',
      className: 'btn btn-primary',
      label: 'Submit'
    });
    -%>

  </form>
</div>

<%- contentFor('scripts') %>
<script>
</script>
